.review{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    margin: 12px 0;
    padding: 4px 8px;
    border-radius: 12px;
    max-width: 50vw;
}

.text{
    margin: 0;
    padding: 4px 0;
    font-weight: 400;
}

.author{
    margin: 0;
    padding: 4px 0;
    font-weight: bold;
    font-size: small;
}
